* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  background-color: green;
}
.card1 {
  width: 12rem;
  height: 17rem;
  border-radius: 1rem;
  background-color: white;
  top: 15rem;
  left: 4rem;
}
.card2 {
  width: 12rem;
  height: 17rem;
  border-radius: 1rem;
  background-color: white;
  top: 15rem;
  left: 20rem;
  z-index: -1;
}
.card3 {
  width: 12rem;
  height: 17rem;
  border-radius: 1rem;
  background-color: white;
  top: 15rem;
  left: 36rem;
}
.card4 {
  width: 12rem;
  height: 17rem;
  border-radius: 1rem;
  background-color: white;
  top: 15rem;
  left: 52rem;
  z-index: -1;
}
.heart {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 2rem solid red;
  border-right: 2rem solid white;
  border-left: 2rem solid white;
  top: 24rem;
  left: 8rem;
}
.heart::before {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -3.6rem;
  left: -2.1rem;
}
.heart::after {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  top: -3.6rem;
  left: -0.1rem;
}
#content1 {
  font-size: 1.5rem;
  top: 15.3rem;
  left: 4.5rem;
  color: red;
  background-color: white;
}
#content2 {
  font-size: 1.5rem;
  top: 29.7rem;
  left: 13.5rem;
  color: red;
  background-color: white;
}
.spead {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 2rem solid white;
  border-bottom: 2rem solid black;
  border-right: 2rem solid white;
  top: 22rem;
  left: 24rem;
}
.spead::before {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 1.4rem;
  left: -0.13rem;
}
.spead::after {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 1.4rem;
  left: -2.1rem;
}
.rectangle1 {
  width: 2rem;
  height: 3.5rem;
  position: absolute;
  background-color: black;
  top: 23.4rem;
  left: 25rem;
  z-index: -1;
}

.rectangle1::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 1.3rem;
  left: 1.2rem;
}
.rectangle1::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 1.3rem;
  left: -1.5rem;
}
#content3 {
  font-size: 1.5rem;
  top: 15.3rem;
  left: 20.4rem;
  color: black;
  background-color: white;
}
#content4 {
  font-size: 1.5rem;
  top: 29.8rem;
  left: 29.5rem;
  color: black;
  background-color: white;
}
.diamond {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 2.1rem solid red;
  border-left: 2.1rem solid white;
  border-right: 2.1rem solid white;
  top: 24rem;
  left: 40rem;
}
.diamond::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 2.1rem solid white;
  border-right: 2.1rem solid white;
  border-bottom: 2.1rem solid red;
  top: -4.2rem;
  left: -2rem;
}
#content5 {
  font-size: 1.5rem;
  top: 15.3rem;
  left: 36.4rem;
  color: red;
  background-color: white;
}
#content6 {
  font-size: 1.5rem;
  top: 29.9rem;
  left: 45.7rem;
  color: red;
  background-color: white;
}
.club {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 22rem;
  left: 57rem;
}
.club::before {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 1.6rem;
  left: 1rem;
}
.club::after {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  top: 1.6rem;
  left: -1rem;
}
.rectangle2 {
  width: 2rem;
  height: 3rem;
  position: absolute;
  background-color: black;
  top: 24.3rem;
  left: 57.1rem;
  z-index: -1;
}
.rectangle2::before {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 1rem;
  left: 1.1rem;
}
.rectangle2::after {
  content: "";
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  top: 1rem;
  left: -1.4rem;
}
#content7 {
  font-size: 1.5rem;
  top: 15.5rem;
  left: 52.5rem;
  color: black;
  background-color: white;
}
#content8 {
  font-size: 1.5rem;
  top: 30rem;
  left: 61.5rem;
  color: black;
  background-color: white;
}
