* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: green;
}
.card {
  position: absolute;
}
/* cards */
#card1 {
  width: 12rem;
  height: 17rem;
  background-color: white;
  border-radius: 10px;
  top: 17rem;
  left: 3rem;
}
#card2 {
  width: 12rem;
  height: 17rem;
  background-color: white;
  border-radius: 10px;
  top: 17rem;
  left: 20rem;
}
#card3 {
  width: 12rem;
  height: 17rem;
  background-color: white;
  border-radius: 10px;
  top: 17rem;
  left: 37rem;
}
#card4 {
  width: 12rem;
  height: 17rem;
  background-color: white;
  border-radius: 10px;
  top: 17rem;
  left: 54rem;
}
.circle {
  position: absolute;
}
/* heart */
#triangle1 {
  width: 0;
  height: 0;
  background-color: red;
  border-top: 2.1rem solid red;
  border-left: 2.1rem solid white;
  border-right: 2.1rem solid white;
  top: 24rem;
  left: 6.6rem;
}
#circle1 {
  width: 2.2rem;
  height: 2.2rem;
  background-color: red;
  border-radius: 50%;
  top: 22.5rem;
  left: 6.58rem;
}
#circle2 {
  width: 2.2rem;
  height: 2.2rem;
  background-color: red;
  border-radius: 50%;
  top: 22.5rem;
  left: 8.61rem;
}
#content1 {
  top: 17.5rem;
  left: 3.4rem;
  background-color: white;
  color: red;
  font-size: 1.5rem;
}
#content2 {
  top: 32rem;
  left: 12.6rem;
  background-color: white;
  color: red;
  font-size: 1.5rem;
}
/* spade */
#circle3 {
  width: 2.2rem;
  height: 2.2rem;
  background-color: black;
  border-radius: 50%;
  top: 24.4rem;
  left: 23.83rem;
  z-index: 1;
}
#circle4 {
  width: 2.2rem;
  height: 2.2rem;
  background-color: black;
  border-radius: 50%;
  top: 24.4rem;
  left: 25.77rem;
  z-index: 2;
}
#triangle2 {
  width: 0;
  height: 0;
  border-bottom: 2rem solid black;
  border-left: 2rem solid white;
  border-right: 2rem solid white;
  top: 23rem;
  left: 23.9rem;
}
#rectangle1 {
  width: 1.6rem;
  height: 2.8rem;
  background-color: black;
  top: 25rem;
  left: 25rem;
}
#circle5 {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: 25.8rem;
  left: 26rem;
}
#circle6 {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  top: 25.7rem;
  left: 23.9rem;
}
#content3 {
  top: 32rem;
  left: 29.6rem;
  background-color: white;
  font-size: 1.5rem;
}
#content4 {
  top: 18rem;
  left: 20.5rem;
  background-color: white;
  font-size: 1.5rem;
}
/* diamond */
#diamond1 {
  width: 0;
  height: 0;
  border-left: 2rem solid white;
  border-right: 2rem solid white;
  border-top: 2rem solid red;
  top: 26.3rem;
  left: 41rem;
}
#diamond2 {
  width: 0;
  height: 0;
  border-left: 2rem solid white;
  border-right: 2rem solid white;
  border-bottom: 2rem solid red;
  top: 24.3rem;
  left: 41rem;
}
#content5 {
  top: 32rem;
  left: 46.6rem;
  background-color: white;
  color: red;
  font-size: 1.5rem;
}
#content6 {
  top: 18rem;
  left: 37.5rem;
  background-color: white;
  color: red;
  font-size: 1.5rem;
}
/* club  */
#circle7 {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  top: 24.5em;
  left: 58.3rem;
  z-index: 3;
}
#circle8 {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  top: 24.5rem;
  left: 60rem;
  z-index: 4;
}
#rectangle2 {
  width: 1.5rem;
  height: 2rem;
  background-color: black;
  top: 25.7rem;
  left: 59.4rem;
}
#circle9 {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border-radius: 50%;
  top: 23rem;
  left: 59.2rem;
}
#circle10 {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  top: 26.1rem;
  left: 58.6rem;
}
#circle11 {
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 50%;
  top: 26.1rem;
  left: 60.2rem;
}
#content7 {
  top: 18rem;
  left: 54.3rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}
#content8 {
  top: 32rem;
  left: 63.3rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}
